VITE_SUPABASE_URL=https://twddlohowyqqluzkfuqg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3ZGRsb2hvd3lxcWx1emtmdXFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTA2MzgsImV4cCI6MjA5MDQyNjYzOH0.7w3Sl-sh-BADlaNtkA8HLvpznLeHgnkpuDxoQFDjBc8